{%  extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h2>ADD TAGS</h2>
    <a href="{{ path("index_tag") }}" class="col-md-1 pull-left btn btn-info"> < Back to Tag list</a>

    <div class="clearfix"></div>
    <div class="col-md-5 col-md-offset-2">
        {% if app.session.flashbag().get('status') is defined %}
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {{ form_start(form,{'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </div>



    {% endblock %}

